<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="submit.css">
</head>

<body>
    {{!-- navbar start --}}
    <ul>
        <h1 class="page-title">The Movie Express </h1>
        <li><a href="/home">Home</a></li>
        <li><a class="active" href="/submit">Submit</a></li>
        <li style="float:right"><a href="#about">About</a></li>
    </ul>
    {{!-- navbar ends --}}

    {{!-- search bar starts --}}
    <div class="search-cards-list">
        <div class="search-card">
            <center>

                <input type="text" name="" id="searchText" class="input-class">
            </center>
        </div>
        <div class="search-card">
            <input type="button" class="button-search" value="Search" id="searchButtton">
        </div>
    </div>
    {{!-- search bar ends --}}

    {{{body}}}

</body>

</html>