<h1>The Movie Express </h1>
<h2>{{ content }}</h2>

<form action="">
    Search for your movie: <input type="text" name="" id="searchText">
    <input type="button" value="Search" id="searchButtton" onclick="searchMovie()">
</form>
<hr>
<div id="movieTitle"></div>
<div id="movieYear"></div>
<img src="" id="moviePoster" alt="">

<script src="scripts/home.js"></script>