<h1>The Movie Express </h1>
<h2>{{ content }}</h2>

<form action="">
    Search for your movie: <input type="text" name="" id="searchText">
    <input type="button" value="Search" id="searchButtton" onclick="searchMovie()">
</form>
<hr>
<div id="cards">
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="" alt="" id="moviePoster" style="width:100%">
                <div class="container">
                    <h4><b>
                            <div id="movieTitle"></div>
                        </b>
                    </h4>
                    <p>
                        <div id="movieYear"></div>
                    </p>
                    <p>
                        <i>
                            <div id="movieID"></div>
                        </i>
                        <div id="movieType"></div>
                    </p>
                    <div id="addButtonDiv"></div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                blah

            </div>
        </div>
    </div>
</div>


<script src="scripts/search.js"></script>