<h1>The Movie Express </h1>
<h2>{{ content }}</h2>

<form action="">
    <center>
        <input type="text" name="" id="searchText" class="input-class">
        <br>
        <br>
        <input type="button" class="button-search" value="Search" id="searchButtton" onclick="searchMovie()">
    </center>
</form>
<hr>
<section class="cards" id="cards-id"></section>

<script src="scripts/search.js"></script>