{{!-- navbar start --}}
<ul>
    <h1 class="page-title">The Movie Express </h1>
    <li><a href="/home">Home</a></li>
    <li><a class="active" href="/search">Submit</a></li>
    <li style="float:right"><a href="#about">About</a></li>
</ul>
{{!-- navbar ends --}}
<br>

<center>
    <input type="text" name="" id="searchText" class="input-class">
    <br>
    <br>
    <input type="button" class="button-search" value="Search" id="searchButtton">
</center>
<hr>
<section class="cards" id="cards-id"></section>

<script src="scripts/search.js"></script>